.main
    display: grid
    align-content: center
    width: 60%
    margin: 100px auto
    min-height: 60vh

.title
    margin-bottom: 2rem
    font-size: 36px
    justify-self: center

.info
    align-self: end
    display: flex
    justify-content: space-between
    align-items: end
    margin-top: 4rem

    .contacts
        display: flex
        align-items: center
        gap: 1.5rem
        .contact
            width: 25px
            cursor: pointer

    .resume_block
        display: flex
        align-items: center

        .resume
            width: 20px
            margin: 0 10px

.quote
    text-align: end
    margin-bottom: 1rem
